{% extends 'base.html' %}
{% load static %}

{% block title %}Cloting and more{% endblock title%}
{% block body %}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'home'%}"><i class="fa fa-home"></i> Home</a>
                        <span>FAQ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="contact__content">
                        <div class="contact__address">
                            <h5>FAQ</h5>
                            
                        </div>
                        
                    </div>
                </div>
               
        </div>
    </div>
</section>
<!-- Contact Section End -->

{% endblock body %}